<header class="row">
    <div class="col-lg-2 col-md-2 col-lg-offset-2 col-md-offset-2">
        <p>Dyszka!</p>
    </div>
    <div class="col-lg-2 col-md-2">
        <input type="text" placeholder="Wyszukaj us³ugê...">
    </div>
    <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1">
        <button type="button" class="btn btn-primary">Loguj</button>
        <button type="button" class="btn btn-primary">Rejestracja</button>
        <button type="button" class="btn btn-primary">?</button>
    </div>
</header>
<section class="jumbotron">
    <h3>Zostañ superbohaterem na naszym portalu!</h3>
</section>